.main-container {
    grid-gap: 4rem !important;
}

.news-content {
    grid-column: span 3 !important;
}

.news-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 2rem;
}

.news-title {
    font-size: 2.5rem;
    font-family: var(--font-yekan);
    margin-bottom: 1rem;
}

.news-header .card-image-container {
    grid-column: span 3 !important;
}

.news-header-text-container {
    grid-column: span 2;
}

.news-header-text {
    font-size: 1.1rem;
    text-align: justify;
    color: #545454;
}

.news-text {
    font-size: 1.2rem;
    text-indent: 3rem;
    text-align: justify;
}

@media (max-width: 1125px) {
    .main-container {
        grid-gap: 0 !important;
    }
}

@media (max-width: 800px) {
    .news-header {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .news-header-text-container {
        order: 2;
    }
}
