{% extends 'news/layout.html' %}

{% block page_title %}VENUS | صفحه اصلی{% endblock %}
{% block head %}
    <header>
        <div class="container">
            <div class="showcase-container">
                <div class="slideshow-container">
                    <div class="slideshow">
                        {% if slider_posts %}
                            {% for post in slider_posts %}
                                <div class="mySlides fade">
                                    <div class="numbertext">3 / {{ forloop.counter }}</div>
                                    <a href="/news-details/{{ post.id }}/"><img src="{{ post.image.url }}"
                                                                                style="width:100%"></a>
                                    <a href="/news-details/{{ post.id }}/" class="text">{{ post.title }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>

                <div class="cards-container">
                    {% if slider_posts %}
                        {% for post in slider_posts %}
                            <article class="card">
                                <div class="card-image-container">
                                    <a href="/news-details/{{ post.id }}/"><img src="{{ post.image.url }}"
                                                                                title="{{ post.title }}"/></a>
                                </div>
                                <div class="card-text-side">
                                    <a href="/news-details/{{ post.id }}/" class="card-title"><h3>{{ post.title }}</h3>
                                    </a>
                                    <a href="/news-details/{{ post.id }}/" class="card-text"><p>
                                        {{ post.text|truncatewords:20 | safe }}
                                    </p></a>
                                </div>
                            </article>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main_posts %}
    {% if main_posts %}
        {% for post in main_posts %}
            <article class="card">
                <div class="card-image-container">
                    <a href="/news-details/{{ post.id }}/"><img src="{{ post.image.url }}"
                                                                title="{{ post.title }}"/></a>
                </div>
                <div class="card-text-side">
                    <a href="/news-details/{{ post.id }}/" class="card-title"><h3>{{ post.title }}</h3></a>
                    <a href="/news-details/{{ post.id }}/" class="card-text"><p>
                        {{ post.text|truncatewords:20 | safe }}
                    </p></a>
                </div>
            </article>
        {% endfor %}
    {% endif %}
    <div>
        {% if main_posts.has_other_pages %}
            <ul class="pagination">
                {% if main_posts.has_previous %}
                    <li><a href="?main_page_num={{ main_posts.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in main_posts.paginator.page_range %}
                    {% if main_posts.number == i %}
                        <li class="active-pag"><span>{{ i }}</span></li>
                    {% else %}
                        <li><a href="?main_page_num={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if main_posts.has_next %}
                    <li><a href="?main_page_num={{ main_posts.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block side_title_1 %}
    اخبار پربازدید
{% endblock %}
{% block side_posts_1 %}
    {% if popular_posts %}
        {% for post in popular_posts %}
            <article class="card">
                <div class="card-image-container">
                    <a href="/news-details/{{ post.id }}/"><img src="{{ post.image.url }}"
                                                                title="{{ post.title }}"/></a>
                </div>
                <div class="card-text-side">
                    <a href="/news-details/{{ post.id }}/" class="card-title"><h4>{{ post.title }}</h4></a>
                    <a href="/news-details/{{ post.id }}/" class="card-text"><p>
                        {{ post.text|truncatewords:10 | safe }}
                    </p></a>
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block  side_title_2 %}
    آخرین اخبار
{% endblock %}
{% block side_posts_2 %}
    {% if recent_posts %}
        {% for post in recent_posts %}
            <article class="card">
                <div class="card-image-container">
                    <a href="/news-details/{{ post.id }}/"><img src="{{ post.image.url }}"
                                                                title="{{ post.title }}"/></a>
                </div>
                <div class="card-text-side">
                    <a href="/news-details/{{ post.id }}/" class="card-title"><h4>{{ post.title }}</h4></a>
                    <a href="/news-details/{{ post.id }}/" class="card-text"><p>
                        {{ post.text|truncatewords:10 | safe }}
                    </p></a>
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}

