<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>لیست اخبار</title>
    <script
            src="https://kit.fontawesome.com/2185f713f9.js"
            crossorigin="anonymous"
    ></script>
    <link rel="icon" href="../images/logo.png"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/news-list.css"/>
</head>
<body>
<a href="#top"
><img
        class="to-top-arrow"
        src="../images/carousel-arrow-dark.png"
        title="برو به بالا"
        alt="to top"
/></a>
<nav class="fixed-nav">
    <input type="checkbox" id="check-nav" hidden/>
    <div class="hamburger-menu">
        <label for="check-nav" class="menu-lines">
            <div class="menu-line menu-line-1"></div>
            <div class="menu-line menu-line-2"></div>
            <div class="menu-line menu-line-3"></div>
        </label>
    </div>
    <div class="menu">
        <ul class="menu-items">
            <li>
                <a href="login.html"
                ><i class="fas fa-user"></i> ورود به حساب کاربری</a
                >
            </li>
            <li>
                <a href="sign-in.html"
                ><i class="fas fa-user-plus"></i> ایجاد حساب کاربری</a
                >
            </li>
            <li>
                <hr/>
            </li>
            <li>
                <a href="home.html"><i class="fas fa-home"></i> صفحه اصلی</a>
            </li>
            <li>
                <a href="news-list.html"
                ><i class="fas fa-bullhorn"></i> لیست اخبار</a
                >
            </li>
            <li>
                <a href="#"><i class="fas fa-coins"></i> اقتصادی</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-users"></i> سیاسی</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-users"></i> اجتماعی</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-paint-brush"></i> فرهنگی و هنری</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-microscope"></i> علمی</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-futbol"></i> ورزشی</a>
            </li>
        </ul>
    </div>
</nav>

<nav id="main-nav">
    <div class="container">
        <div class="nav-title">
            <a href="home.html"><img src="../images/logo.png" class="logo" id="top" alt="logo"/></a>
            <a href="home.html"><p class="main-title">VENUS</p></a>
        </div>
        <ul>
            <li>
                <a href="home.html"
                ><i class="fas fa-home"></i> صفحه اصلی</a
                >
            </li>
            <li>
                <a class="active" href="news-list.html"
                ><i class="fas fa-bullhorn"></i> لیست اخبار</a
                >
            </li>
            <li>
                <a href="#"><i class="fas fa-coins"></i> اقتصادی</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-users"></i> سیاسی</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-users"></i> اجتماعی</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-paint-brush"></i> هنری</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-microscope"></i> علمی</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-futbol"></i> ورزشی</a>
            </li>
        </ul>
        <div class="nav-left-side">
            <div class="search-box">
                <form>
                    <i class="fas fa-search search-icon"></i>
                    <input type="search" placeholder="جستجو"/>
                </form>
            </div>
            <a href="login.html" class="nav-left-icon" title="ورود به حساب کاربری"
            ><i class="fas fa-user-circle"></i
            ></a>
        </div>
    </div>
</nav>

<div style="height: 50px; overflow: hidden">
    <svg
            viewBox="0 0 500 150"
            preserveAspectRatio="none"
            style="height: 100%; width: 100%"
    >
        <path
                d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #f0f0f0"
        ></path>
    </svg>
</div>

<main>
    <div class="container">
        <h1 class="title">لیست اخبار</h1>
        <div class="main-container">
            <section class="cards-container">
                <article class="card">
                    <div class="card-image-container">
                        <a href="news-page.html"
                        ><img
                                src="../images/political.jpg"
                                alt="political"
                                title="لورم ایپسوم"
                        /></a>
                        <a href="#" class="category">سیاسی</a>
                    </div>
                    <div class="card-text-side">
                        <a href="news-page.html" class="card-title"
                        ><h2>لورم ایپسوم</h2></a
                        >
                        <a href="news-page.html" class="card-text"
                        ><p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است
                        </p></a
                        >
                    </div>
                </article>
                <article class="card">
                    <div class="card-image-container">
                        <a href="#"
                        ><img
                                src="../images/economical.jpg"
                                alt="economical"
                                title="لورم ایپسوم"
                        /></a>
                        <a href="#" class="category">اقتصادی</a>
                    </div>
                    <div class="card-text-side">
                        <a href="#" class="card-title"><h2>لورم ایپسوم</h2></a>
                        <a href="#" class="card-text"
                        ><p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است
                        </p></a
                        >
                    </div>
                </article>
                <article class="card">
                    <div class="card-image-container">
                        <a href="#"
                        ><img
                                src="../images/sports.jpg"
                                alt="sports"
                                title="لورم ایپسوم"
                        /></a>
                        <a href="#" class="category">ورزشی</a>
                    </div>
                    <div class="card-text-side">
                        <a href="#" class="card-title"><h2>لورم ایپسوم</h2></a>
                        <a href="#" class="card-text"
                        ><p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                            با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه
                            و مجله در ستون و سطرآنچنان که لازم است
                        </p></a
                        >
                    </div>
                </article>
            </section>
            <aside>
                <section id="side-news">
                    <h3 class="side-title">اخبار دیگر</h3>
                    <div class="side-news-container">
                        <article class="card">
                            <div class="card-image-container">
                                <a href="#"
                                ><img
                                        src="../images/science.jpg"
                                        alt="science"
                                        title="لورم ایپسوم"
                                /></a>
                                <a href="#" class="category">علمی</a>
                            </div>
                            <div class="card-text-side">
                                <a href="#" class="card-title"><h3>لورم ایپسوم</h3></a>
                                <a href="#" class="card-text"
                                ><p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپ و با استفاده از طراحان گرافیک است
                                </p></a
                                >
                            </div>
                        </article>
                        <article class="card">
                            <div class="card-image-container">
                                <a href="#"
                                ><img
                                        src="../images/art.jpg"
                                        alt="art"
                                        title="لورم ایپسوم"
                                /></a>
                                <a href="#" class="category">هنری</a>
                            </div>
                            <div class="card-text-side">
                                <a href="#" class="card-title"><h3>لورم ایپسوم</h3></a>
                                <a href="#" class="card-text"
                                ><p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپ و با استفاده از طراحان گرافیک است
                                </p></a
                                >
                            </div>
                        </article>
                        <article class="card">
                            <div class="card-image-container">
                                <a href="#"
                                ><img
                                        src="../images/social.jpg"
                                        alt="social"
                                        title="لورم ایپسوم"
                                /></a>
                                <a href="#" class="category">اجتماعی</a>
                            </div>
                            <div class="card-text-side">
                                <a href="#" class="card-title"><h3>لورم ایپسوم</h3></a>
                                <a href="#" class="card-text"
                                ><p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپ و با استفاده از طراحان گرافیک است
                                </p></a
                                >
                            </div>
                        </article>
                    </div>
                </section>
            </aside>
        </div>
    </div>
</main>

<div style="height: 150px; overflow: hidden">
    <svg
            viewBox="0 0 500 150"
            preserveAspectRatio="none"
            style="height: 100%; width: 100%"
    >
        <path
                d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
                style="stroke: none; fill: #f0f0f0"
        ></path>
    </svg>
</div>

<div style="height: 150px; overflow: hidden">
    <svg
            viewBox="0 0 500 150"
            preserveAspectRatio="none"
            style="height: 100%; width: 100%"
    >
        <path
                d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #2d3032"
        ></path>
    </svg>
</div>
<footer>
    <div class="container">
        <div class="main-footer-container">
            <div class="nav-title">
                <a href="home.html"><img src="../images/logo.png" class="logo" alt="logo"/></a>
                <a href="home.html"><p class="main-title">VENUS</p></a>
            </div>
            <div class="parts-menu">
                <ul>
                    <li><a href="news-list.html">لیست اخبار</a></li>
                    <li><a href="home.html#info">برچسب ها</a></li>
                    <li><a href="#">تماس با ما</a></li>
                    <li><a href="#">درباره ی ما</a></li>
                </ul>
            </div>
            <div class="icons">
                <a href="#"><i class="fab fa-telegram"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="copyright">
            © استفاده از مطالب سایت تنها با درج لینک مستقیم به آن مطلب مجاز است.
        </div>
    </div>
</footer>
</body>
</html>
