{% extends 'accounts/layout.html' %}
{% load static %}

{% block page_title %}
    ورورد به حساب کاربری
{% endblock %}

{% block form %}
    <form class="form" method="POST">
        <a href="{% url 'home' %}"><img src="{% static 'news/Images/logo.png' %}" alt="logo" class="login-title"></a>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ورود"/>
        <div class="login-text">
            <p>
                هنوز ثبت نام نکرده‌‌اید؟
            </p>
            <a href="{% url 'register' %}" class="sign-in">ثبت نام کنید</a>
        </div>
    </form>
{% endblock %}