{% extends 'accounts/layout.html' %}
{% load static %}

{% block page_title %}
    ثبت نام
{% endblock %}

{% block form %}
    <form class="form" method="POST">
        <a href=""><img src="{% static 'news/Images/logo.png' %}" alt="logo" class="login-title"></a>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ثبت نام"/>
        <div class="login-text">
            <p>حساب کاربری دارید؟</p>
            <a href="{% url 'login' %}" class="sign-in">ورود به حساب کاربری</a>
        </div>
    </form>
{% endblock %}