<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ثبت نام</title>
    <link rel="icon" href="../images/logo.png">
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/login.css"/>
    <link rel="stylesheet" href="../css/sign-in.css"/>
</head>
<body>
<section>
    <form class="form">
        <a href="index.html"><img src="../images/logo.png" alt="logo" class="login-title"></a>
        <input
                type="text"
                class="login-input"
                id="name-input"
                placeholder="نام"
                required
        />
        <input
                type="text"
                class="login-input"
                placeholder="نام خانوادگی"
                required
        />
        <input type="email" class="login-input" placeholder="ایمیل" required/>
        <input
                type="text"
                class="login-input"
                id="username-input"
                placeholder="نام کاربری"
                required
        />
        <input
                type="password"
                class="login-input"
                placeholder="رمز عبور"
                required
        />
        <input type="submit" value="ثبت نام"/>

        <div class="login-text">
            <p>حساب کاربری دارید؟</p>
            <a href="login.html" class="sign-in">ورود به حساب کاربری</a>
        </div>
    </form>
</section>
</body>
</html>
